{%- if page.lang == 'en'-%}
        {%- assign pages_translated = site.de-%}
        {%- assign translation_path = '_de/' -%}
        {%- assign prefix = "de/" %}
        {%- assign page_url = page.path | replace: '_en/', '' | replace: '.md', '' %}
    {%- else -%}
        {%- assign pages_translated = site.en -%}
        {%- assign translation_path= '_en/' -%}
        {%- assign prefix = "" %}
        {%- assign page_url = page.path | replace: '_de/', '' | replace: '.md', '' %}
{%- endif-%}

{%- for p in pages_translated -%}
    {%- assign translation_page_url = p.path | replace: translation_path, '' | replace: '.md', '' -%}
    {%- if page_url ==  translation_page_url -%}
        {%- assign isTranslated = true -%}
    {%- endif -%}
{%- endfor -%}

<footer class="lang-options">
    {%- if isTranslated -%}
        <em>{{ site.data.translations['langToggle'][page.lang]}} </em>
        {%- for lang in site.data.languages -%}
            {%- if lang[0] != page.lang -%}
                <a href="{{site.baseurl}}/{{prefix}}{{page_url}} " title="switch language {{lang[0]}}"> {{ lang[0] }}</a>
            {%- else -%}
                <span> {{page.lang}} </span>
            {%- endif -%}
            {%- if forloop.index == 1 -%}
                <span> | </span>
            {%- endif -%}
        {% endfor %}
    {%- endif-%}
</footer>
