{% comment %}
    List pages in same directory as the current page, excluding the page itself.

{% endcomment %}
<section class="col-grid-3">
    {% for item in site.pages %}
        {% if item.dir == page.dir and item.path != page.path %}
        
            <div class="card">
                <a href="{{ item.url | relative_url }}">{{ item.title }}
                <img src="{{site.baseurl}}/{{item.thumbnail}}" alt="">
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>